<!-- <footer>
    <div class="left_side">
        <div class="office_address">
            <div class="one">
                <i class="fa-solid fa-location-dot"></i>
                <p>Main Office : Jl. Kebun Raya Gg. Terate No. 29 Timur Gembira Loka Zoo, Kota Yogyakarta.</p>
            </div>
            <div class="two">
                <i class="fa-solid fa-location-dot"></i>
                <p>Production Office : Minggiran MJ2 RT 58, RW 16 Matrijeron, Kota Yogyakarta.</p>
            </div>
            <div class="three">
                <i class="fa-solid fa-location-dot"></i>
                <p>Representative Office : Belleza BSA 1st Floor Unit 106, Jl. Letjen Soepeno, Kebayoran Lama Jakarta Selatan 12210.</p>
            </div>
        </div>
    </div>
    <div class="right_side">
        <div class="contact">
            <div class="telp">
                <i class="fa-solid fa-phone"></i>
                <p>0858 0394 6032</p>
            </div>
            <div class="email">
                <i class="fa-regular fa-envelope"></i>
                <p>admin@xcodetraining.com</p>
            </div>
        </div>
        <div class="coppyright">
            <p>&copy; X-code (PT. Teknologi Server Indonesia), 2004 - 2024, All Right Reserved</p>
        </div>
    </div>
</footer> -->